<!Doctype html>
<html>
<meta charset="utf-8"/>
<link href="/vendor/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">

<head>
<%- include('./lecturer.head.ejs', {title: "Lecturers"}) %>
</head>
<body>
<div id="wrapper">

    <% include ./lecturer.nav.ejs %>
    <div id="page-wrapper">
        <!-- Navigation -->
        <div>
            <h4 class="stu">Sinh viên: <%= name %></h4>
            <h4 class="stu">Mã sinh viên: <%= id %></h4>
            <h2 class="title"> Đề tài: <%= topic%></h2>
            <p> <%= details%></p>
        </div>
        <div class="groupbtn">
            <input type="button" class="btn btn-info backBtn" value="Back">
            <% if(status!=null && status=="pending" ) { %>
            <div class="action topic">
                <input type="button" class="btn btn-primary" value="Accept">
                <input type="button" class="btn btn-default" value="Reject">
            </div>
            <%}%>
        </div>
    </div>
</div>
<!-- /#wrapper -->



<%- include ./lecturer.script.ejs%>
<script src="/vendor/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>

<script>
    function goback() {
        parent.history.back();
        return false;
    }
    $(document).ready( function () {
        $(".backBtn").click(goback);
    });

</script>
</body>
</html>
