<!Doctype html>
<html>
<meta charset="utf-8"/>
<%- include('../../partials/admin.head.ejs', {title: "Lecturers"}) %>


<body>
<div id="wrapper">

    <% include ../../partials/admin.navbar.ejs %>

    <span id="current-facultyID" hidden><%= req.user.faculty.id %></span>

    <!-- Navigation -->
    <div id="page-wrapper">

        <div class="container-fluid">
            <!-- show any messages that come back with authentication -->

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Tools</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row alert-container">
                <!-- show any messages that come back with authentication -->

                <% if (message && message.length > 0) { %>
                <div class="alert alert-danger alert-dismissible fade in" role="alert" id="error-alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Error!</strong>
                    <p id="error-alert-message" style="white-space:pre-wrap;"><%= message %></p>
                </div>
                <% } %>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Xuất đề nghị danh sách học viên và người hướng dẫn</div>
                            <div class="panel-body">
                                <p>Xuất file word chứa danh sách các đề tài đã đăng kí, sinh viên và giảng viên hướng
                                    dẫn của khoa</p>
                            </div>
                            <div class="panel-footer">
                                <a href="/admin/tools/export-student-and-tutor-list">
                                    <button class="btn btn-default">Xuất</button>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Gửi mail thông báo nộp hồ sơ bảo vệ</div>
                            <div class="panel-body">
                                <p>Gửi mail cho các sinh viên có đề tài đã được trường duyệt và đang chờ nộp hồ sơ bảo
                                    vệ</p>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-default" onclick="sendEmailForStudentNeedSubmitFiles()">Gửi
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Xuất danh sách học viên được bảo vệ</div>
                            <div class="panel-body">
                                <p>Xuất file word chứa danh sách các học viên được bảo vệ của khoa</p>
                                <labe>Kì bảo vệ</labe>
                                <select id="protectable-students-ession-id" class="form-control" >
                                    <% sessions.forEach(function (session) { %>
                                    <option value="<%= session.id %>"><%= session.name %></option>
                                    <% }) %>
                                </select>
                            </div>

                            <div class="panel-footer">
                                <button class="btn btn-default" onclick="exportProtectableStudentList()">Xuất</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Xuất đề nghị hội đồng bảo vệ</div>
                            <div class="panel-body">
                                <p>Xuất file word chứa danh sách các học viên được bảo vệ của khoa</p>
                                <labe>Kì bảo vệ</labe>
                                <select id="theses-councils-students-session-id" class="form-control" >
                                    <% sessions.forEach(function (session) { %>
                                    <option value="<%= session.id %>"><%= session.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-default" onclick="exportTheseCouncilsList()">Xuất</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>


</div>
<!-- /#wrapper -->

<%- include ../../partials/admin.scripts.ejs %>
<script type="text/javascript" src="/dist/js/admin.tools.min.js"></script>
</body>
</html>
