<html>
<head>
    <%- include('./lecturer.head.ejs', {title: "Lecturers"}) %>
    <link href="\vendor\Semantic-UI-master\dist\semantic.min.css" rel="stylesheet">
</head>
<% var lecturer ={
    "name":"Nguyễn Văn B",
    "rank":"Tiến sĩ",
    "unit":"Bộ môn công nghệ phần mềm",
    "research":"Kiểm thử phần mềm",
    "subjects":["Tin học cơ sở 1","Lập trình nâng cao","Kiểm thử phần mềm"],
    "email":"abc@gmail.com",
    "avatar":"/img/250x250.png"
};%>
<body >
<div id="wrapper">
    <% include ./lecturer.nav.ejs %>

    <div class="container">
        <form id="profile" method="post" >
            <section style="padding-bottom: 50px; padding-top: 50px;">
                <div class="row">
                    <div class="col-md-4">
                        <img src="<%= lecturer.avatar%>" class="img-rounded img-responsive" />
                        <br />
                        <br /> <label>Thay ảnh đại diện</label>
                        <input type="file" name="avatar" value="avatar">
                        <br /><br/>
                    </div>
                    <div class="col-md-8">
                        <div class="alert alert-info">
                            <h2>Vui lòng hoàn thành mẫu dưới đây</h2>
                            <h3 id="formErr"></h3>
                        </div>

                        <div class="form-group col-md-8">
                            <h3>Thông tin giảng viên </h3>
                            <div class="form-group">
                                <label for="name">Họ và tên:</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Nguyễn Văn A" required>
                            </div>
                            <div class="form-group">
                                <label for="birth">Ngày sinh:</label>
                                <input type="text" class="form-control" id="birth" name="birth" onkeyup="checkBirthday(this);" placeholder="20-10-1995" required>
                                <label id="birthErr"></label>
                            </div>
                            <div class="form-group">
                                <label for="rank">Học hàm, học vị:</label>
                                <select class="ui dropdown" name="ramk" form="profile" required>
                                    <option value="0"></option>
                                    <option value="1">Thạc sĩ</option>
                                    <option value="2">Tiến sĩ</option>
                                    <option value="3">Phó giáo sư</option>
                                    <option value="4">Giáo sư</option>
                                </select>
                            </div>
                            <div class="form-group">

                                <label for="username">Đơn vị:</label>
                                <select class="ui  selection dropdown" name="unit" form="profile" required>
                                    <option value="0"></option>
                                    <optgroup label="Công nghệ thông tin">
                                        <option value="1">Công nghệ phần mềm</option>
                                        <option value="2">Khoa học máy tính </option>
                                        <option value="3">Hệ thống thông tin</option>
                                        <option value="4">Truyền thông và mạng máy tính</option>
                                    </optgroup>
                                    <optgroup label="Điện tử viễn thông">
                                        <option value="5">Kết nối không dây</option>
                                        <option value="6">Tín hiệu và hệ thông</option>
                                        <option value="7">Hệ thống vi mô</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="research">Hướng nghiên cứu:</label>
                                <!--<input type="text" class="form-control" id="research" name="research">-->
                                <select class="ui fluid search dropdown" multiple="" form="profile" name="research" required>
                                    <option value="">State</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="subjects">Môn giảng dạy:</label>
                                <!--<input type="text" class="form-control" id="subjects" name="subjects">-->
                                <select class="ui fluid search dropdown" multiple="" form="forfile" name="subjects" required>
                                    <option value="">State</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="text" class="form-control" id="email" name="email" onkeyup="checkEmail(this);" placeholder="someone@gmail.com" required>
                                <label id="emailErr"></label>
                            </div>
                            <div class="form-group" style="text-align: center">
                                <input type="button" class="btn btn-primary" value="Cập nhật" onclick="submits(this);">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ROW END -->
            </section>
            <!-- SECTION END -->
        </form>
    </div>
    <!-- CONATINER END -->
</div>
<!-- REQUIRED SCRIPTS FILES -->
<!-- CORE JQUERY FILE -->
<script src="\vendor\jquery\jquery.min.js"></script>
<!-- REQUIRED BOOTSTRAP SCRIPTS -->
<script src="\vendor\bootstrap\js\bootstrap.min.js"></script>

<script src="\vendor\Semantic-UI-master\dist\semantic.min.js"></script>
<%-include ./lecturer.edit_profile.script.ejs %>
<script src="\vendor\UI-Dropdown-master\dropdown.min.js"></script>
<%-include lecturer.edit_profile.script.ejs %>

<script src="\vendor\Semantic-UI-master\dist\semantic.min.js"></script>
<%-include ./lecturer.edit_profile.script.ejs %>
</body>

</html>
