<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/public.head.ejs', {title: "ThesisMgr"}) %>

<body class="nav-md">
<div class="container body">
    <div class="main_container">


        <%- include('../../partials/public.navbar.ejs') %>
        <!-- /top navigation -->
        <span id="thesis-id" hidden><%= thesis.id %></span>
        <span id="role" hidden><%= req.user.role %></span>


        <!-- page content -->
        <div class="right_col" role="main">
            <div class="page-title">
                <div class="title_left">
                    <h3 style="margin-left: 10px"><%= thesis.title %></h3>
                    <small style="margin-left: 10px" id="updated-at">Cập nhật lần cuối: <%= thesis.updatedAt %></small>
                </div>
            </div>
            <div class="clearfix" style="margin: 20px"></div>

            <div class="row">
                <!-- show any messages that come back with authentication -->
                <div class="row alert-container">
                    <!-- show any messages that come back with authentication -->

                    <% if (message && message.length > 0) { %>
                    <div class="alert alert-danger alert-dismissible fade in" role="alert" id="error-alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Error!</strong>
                        <p id="error-alert-message" style="white-space:pre-wrap;"><%= message %></p>
                    </div>
                    <% } %>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Mô tả</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <%- thesis.description %>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Thông tin</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="project_detail">
                                <p class="title">Sinh viên</p>
                                <p><a href="#"><%= thesis.student.user.fullName %></a></p>

                                <p class="title">Giảng viên hướng dẫn</p>
                                <p>
                                    <a href="/lecturers/<%= thesis.lecturer.user.officerNumber %>"><%= thesis.lecturer.user.fullName %></a>
                                </p>

                                <p class="title">Ngày tạo</p>
                                <p id="creation-date"><%= thesis.createdAt %></p>

                                <p class="title">Lĩnh vực liên quan</p>

                                <% thesis.fields.forEach(function (field, index) { %>
                                <% if (index != (thesis.fields.length - 1)) { %>
                                <a href="/fields/<%= field.urlName %>"> <%= field.name + ", " %></a>
                                <% } else { %>
                                <a href="/fields/<%= field.urlName %>"> <%= field.name %></a>
                                <% }
                                }) %>
                                </p>

                                <p class="title">Trạng thái</p>
                                <p><%= thesis.status.content %></p>

                                <% if ((req.user.lecturer && req.user.lecturer[0] && req.user.lecturer[0].id == thesis.lecturer.id)
                                        || (req.user.student && req.user.student[0] && req.user.student[0].id == thesis.student.id)) { %>
                                <p class="title">Tùy chọn</p>
                                <p>
                                <div id="thesis-processes"></div>
                                </p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="make-result-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create Session</h4>
                    </div>

                    <div class="modal-body">

                        <p class="help-block">Nhập kết quả và ý kiến đánh giá</p>
                        <form id="assign-council-form" action="#" method="post">
                            <div class="form-group">
                                <label>Điểm</label>
                                <input name="result" class="form-control" v>
                            </div>

                            <div class="form-group">
                                <label>Ý kiến phản biện</label>
                                <textarea name="reviews1" class="form-control" rows="5" ></textarea>
                            </div>

                            <div class="form-group">
                                <label>Ý kiến đánh giá</label>
                                <textarea name="reviews2" class="form-control" rows="5"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Ý kiến thành viên hội đồng</label>
                                <textarea name="reviews3" class="form-control" rows="5"></textarea>
                            </div>

                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- /page content -->

        <!-- footer content -->
        <%- include('../../partials/public.footer.ejs') %>
        <!-- /footer content -->
    </div>
</div>

<%- include('../../partials/public.scripts.ejs') %>
<script type="text/javascript">

    var date = moment($('#creation-date').text());
    $('#creation-date').html(moment(date).format('MMMM Do YYYY, h:mm:ss a'));

    var date = moment($('#updated-at').text());
    $('#updated-at').html("Sửa đổi lần cuối: " + moment(date).format('MMMM Do YYYY, h:mm:ss a'));

    var thesisID = $('#thesis-id').text();
    var status = '<%- JSON.stringify(thesis.status) %>';
    var role = $('#role').text();

    console.log(thesisID);
    console.log(role);

    console.log(status);

    $('#thesis-processes').buildThesisProcesses(thesisID, JSON.parse(status), role);

    if (JSON.parse(status).id == 12 && role == 'lecturer') {
        $('button[data-index=0]').click(function (e) {
            e.preventDefault();
            e.stopPropagation();

            $('#make-result-modal').modal('toggle');
        })
    }
</script>
</body>
</html>


