<!Doctype html>
<html>
<meta charset="utf-8"/>
<%- include('../patrials/head.ejs', {title: "ThesisMgr"}) %>
<% var quotation= [{
    "dimension" : 0,
    "currency": "RMB",
    "quantity": "100",
    "price": "3",
    "factory": "rx"},
    {
        "dimension" : 0,
        "currency": "RMB",
        "quantity": "200",
        "price": "4",
        "factory": "rx"},
    {
        "dimension" : 1,
        "currency": "RMB",
        "quantity": "100",
        "price": "3",
        "factory": "rx"},
    {
        "dimension" : 1,
        "currency": "RMB",
        "quantity": "200",
        "price": "5",
        "factory": "rx"},
    {
        "dimension" : 0,
        "currency": "RMB",
        "quantity": "100",
        "price": "1.2",
        "factory": "hsf"},
    {
        "dimension" : 0,
        "currency": "RMB",
        "quantity": "200",
        "price": "2.4",
        "factory": "hsf"},
    {
        "dimension" : 1,
        "currency": "RMB",
        "quantity": "100",
        "price": "3",
        "factory": "hsf"},
    {
        "dimension" : 1,
        "currency": "RMB",
        "quantity": "200",
        "price": "4.5",
        "factory": "hsf"}];
%>
<%- include ../patrials/scripts.ejs%>

<body>
<div id="wrapper">

    <% include ../patrials/navbar.ejs %>

    <!-- Navigation -->
    <div id="page-wrapper">

        <div class="container-fluid">
            <div class="editdata"  style="padding: 10px;">
                <%- include users.modal.ejs%>
            </div>
            <table class="table table-hover table-striped" id="officer_table" >
                <tr>
                    <th>Officer_number</th><th>office</th><th>full_name</th><th>role - moderator</th>
                </tr>

                <% for (var i = 0; i < quotation.length; i++) { %>
                <tr scope="row">
                    <td><%= quotation[i].dimension %> </td>
                    <td><a class="tdText" href="#" data-type="text" data-placement="right" ><%= quotation[i].quantity %></a></td>
                    <td><a class="tdText" href="#" data-type="text" data-placement="right" ><%= quotation[i].factory %></a></td>
                    <td><a class="tdText" href="#" data-type="text" data-placement="right" ><%= quotation[i].factory %></a></td>
                </tr>
                <% } %>
            </table>
            <div  style="text-align: center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


</div>
<!-- /#wrapper -->
<%- include('./users.javascripts.ejs', {actions: "/users/moderators/create_xlsx"})%>
</body>
</html>
