<!Doctype html>
<html>
<meta charset="utf-8"/>
<%- include('../partials/head.ejs', {title: "Students"}) %>


<body>
<div id="wrapper">

    <% include ../partials/navbar.ejs %>

    <span id="number-of-pages" hidden><%= numberOfPages %></span>
    <span id="current-role" hidden><%= req.user.role %></span>
    <span id="current-facultyID" hiddne><%= req.user.faculty.id %></span>

    <!-- Navigation -->
    <div id="page-wrapper">

        <div class="container-fluid">
            <!-- show any messages that come back with authentication -->

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Students</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <!-- show any messages that come back with authentication -->
                <% if (message != null && message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>
            </div>


            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus"></i> Add Student
            </button>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Create Student</h4>
                        </div>

                        <div class="modal-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#menu1">Create Manually</a></li>
                                <li><a data-toggle="tab" href="#menu2">Use Excel File</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="menu1" class="tab-pane fade in active">
                                    <p class="help-block">Fill in information for the student that you want to add.</p>
                                    <form method="post" name="register" action="students/create">
                                        <div class="form-group">
                                            <label for="unit_number">
                                                Student Code:
                                            </label>
                                            <input type="number" class="form-control" id="unit_number"
                                                   name="officer_number">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">User Name:</label>
                                            <input type="email" class="form-control" id="email" name="email">
                                        </div>
                                        <div class="form-group">
                                            <label>Course</label>
                                            <select class="form-control" name="course_id">
                                                <% courses.forEach(function (course) { %>
                                                <option
                                                        class="course-option-item"
                                                        value="<%= course.id %>"
                                                        data-faculty-id="<%= course.faculty %>"><%= course.name %></option>
                                                <% }) %>
                                            </select>
                                            <p class="help-block">Course of the new student that you want to add.</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Program</label>
                                            <select class="form-control" name="program_id">
                                                <% programs.forEach(function (program) { %>
                                                <option class="program-option-item"
                                                        value="<%= program.id %>"
                                                        data-faculty-id="<%= program.faculty %>"><%= program.name %></option>
                                                <% }) %>
                                            </select>
                                            <p class="help-block">Program of the new student that you want to add.</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Name:</label>
                                            <input type="text" class="form-control" id="name" name="full_name">
                                        </div>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <div id="menu2" class="tab-pane fade">
                                    <p class="help-block">Create a list of student using a excel(.xlsx) file.</p>
                                    <form role="form" method="post" enctype="multipart/form-data"
                                          action="students/create-xlsx">
                                        <label>Excel file</label>
                                        <input type="file" name="xlsx" accept=".xlsx, .xls" class="custom-file-input"
                                               required>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped" id="table-students">
                <thead>
                <tr class="table table-header">
                    <th>Student Code</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Faculty</th>
                    <th>Course</th>
                    <th>Program</th>
                </tr>
                </thead>
                <tbody class="table table-body">

                </tbody>
            </table>

            <nav aria-label="Page navigation" style="text-align: center;">
                <ul id="pagination" class="pagination">></ul>
            </nav>
        </div>
    </div>


</div>
<!-- /#wrapper -->

<%- include ../partials/scripts.ejs %>
<script type="text/javascript" src="/dist/js/users.students.min.js"></script>
</body>
</html>
